<hr>
<span>
   <div>
      <img src="https://images.squarespace-cdn.com/content/v1/59c74cbd8fd4d2c49184c5be/1557299603336-IYG6MYTCNY0GYO1VBKBR/ke17ZwdGBToddI8pDm48kOlRP_X0hZa-99ncqjsZ3XcUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcRFyN9mEIqSaNUR8r0V1_vqOGzRXq7WgKgvEbP9yXxc-KNepKi3kHhBWfcMGkvuWk/Dallas-Headshots-16.jpg?format=300w" class="author-img">
      <div>
         <h3> Charles GUILLEMET &nbsp;
              <a href="http://twitter.com/P3b7_" class="icon fa-twitter"><span class="label">Twitter</span></a> 
          </h3>
      </div>
   </div>
   {{ author.bio }}
</span>
<br>
